.drawing-sidebar {
  & > * {
    margin-bottom: 15px !important;
  }
  .textarea-wrapper {
    padding-top: 10px;

    & textarea {
      width: 100%;
      margin-top: 5px;
      min-height: 75px;
      box-sizing: border-box;
    }
  }

  & input {
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  /* class applies to select element itself, not a wrapper element */
  select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    color: #333;
    padding: 0.4em 1.4em 0.4em 0.6em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    background-color: #fff;
    & option {
      font-weight: normal;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 100%;
    }
  }

  & button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    border: 1px solid #fff;
    background-color: #f14e4e;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    float: right;
  }
  & button:hover {
    background-color: #e43e3e;
  }
  button:disabled,
  button[disabled] {
    background-color: #5c5c5c;
    cursor: default;
  }

  .geovisto-input-autocomplete {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    &-label {
      padding-left: 5px;
      width: 100%;
      justify-content: flex-start;
    }
    &-component {
      width: 100%;
    }
  }

  .geovisto-input-checkbox {
    display: flex;
    width: 100%;
    & input {
      width: 100px;
    }
  }

  .geovisto-input-checkbox-label {
    width: 100%;
  }

  .connect-check {
    & .geovisto-input-checkbox {
      height: 100px;
    }
  }

  .geovisto-input-range {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  .error-text {
    color: #ec0000;
  }
}
